//====================================
// GLOBAL
// ===================================


//====================================
// HOME
//====================================

.Intro{
	&--home{
		
		padding-top: $header_height_m;
		/* background-image: url('../images/Intro--bg--mobile.png'); */
		background-position: top center;
		background-size: cover;
		//background-attachment: fixed;
		@media screen and (min-width: $break-md){
			height: 90vh;
		}
		background: transparent;
		@media screen and (max-width: $break-sm){
			background: $color_21;
		}
			&:before{
			@media screen and (min-width: $break-md){
				display: block;
				min-height: 550px;
			    width: 200%;
			    margin-left: -60px;
			    position: absolute;
			    top:-200px;
			    left:-1400px;
			    content: "";
		/*		-webkit-transform: skew(-23deg, 24deg) rotate(0deg);
				-moz-transform: skew(-23deg, 24deg) rotate(0deg);
				-o-transform: skew(-23deg, 24deg) rotate(0deg);*/
				transform: skew(-50deg, 15deg) rotate(-5deg);
				border-bottom-right-radius: 75px;
				background: $color_21;
				box-shadow: -5px -5px 32px 3px rgba(0,0,0,0.55);
				z-index: -1;
			}
		}
	}
	
	
	&--page{
	
		@media screen and (min-width: $break-md){
			background-image: url('../images/geobanner.jpg');
			background-size: cover;
		}
	}

	&--background{
		background-repeat: no-repeat;
		//background-image: url('../images/Intro-revendedores-roupa-em-atacado--mobile.png');
	}
}
.u-hasSideBar{
	&.SiteMain{
		& .SiteMain-main{}
		& .SiteMain-sideBar{
			& .Section{
				&-header{
					& i{
						& svg{
							font-size: 18px;
						}
					}
					&-title{
						font-size: 18px;
					}
				}
				&--search{
					& .Form{
						& input{
							height: 75px;
							text-indent: 0px;
						}
						& input[type="submit"],
						& button{
							&.FigureIcon{
								right: 15px;
								top: 20px;
								left: inherit;
								color: $color_9;
							}
						}
					}
				}
			}
		}
		@media screen and (min-width: $break-sm){
			& .SiteMain-main{
				margin-right: $h_spacing;
			}
			& .SiteMain-sideBar{}
			}
	}

}



.Breadcrumbs{
	//border-top: 1px solid $color_8;
	//border-bottom: 1px solid $color_8;
	font-size: 13px;
	& a{
		font-weight: bold;
		color: $color_2;
		&:hover{
			color: $color_3;
		}
	}
	& .u-icon{
		font-size: 13px;
	}
}