// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-figure-icon-estudos-ambientais-name: 'FigureIcon--estudos-ambientais';
$-figure-icon-estudos-ambientais-x: 0px;
$-figure-icon-estudos-ambientais-y: 0px;
$-figure-icon-estudos-ambientais-offset-x: 0px;
$-figure-icon-estudos-ambientais-offset-y: 0px;
$-figure-icon-estudos-ambientais-width: 125px;
$-figure-icon-estudos-ambientais-height: 158px;
$-figure-icon-estudos-ambientais-total-width: 375px;
$-figure-icon-estudos-ambientais-total-height: 182px;
$-figure-icon-estudos-ambientais-image: '../images/sprite.png';
$-figure-icon-estudos-ambientais: (0px, 0px, 0px, 0px, 125px, 158px, 375px, 182px, '../images/sprite.png', 'FigureIcon--estudos-ambientais', );
$-figure-icon-geo-name: 'FigureIcon--geo';
$-figure-icon-geo-x: 0px;
$-figure-icon-geo-y: 172px;
$-figure-icon-geo-offset-x: 0px;
$-figure-icon-geo-offset-y: -172px;
$-figure-icon-geo-width: 8px;
$-figure-icon-geo-height: 10px;
$-figure-icon-geo-total-width: 375px;
$-figure-icon-geo-total-height: 182px;
$-figure-icon-geo-image: '../images/sprite.png';
$-figure-icon-geo: (0px, 172px, 0px, -172px, 8px, 10px, 375px, 182px, '../images/sprite.png', 'FigureIcon--geo', );
$-figure-icon-hidrogeologia-name: 'FigureIcon--hidrogeologia';
$-figure-icon-hidrogeologia-x: 125px;
$-figure-icon-hidrogeologia-y: 0px;
$-figure-icon-hidrogeologia-offset-x: -125px;
$-figure-icon-hidrogeologia-offset-y: 0px;
$-figure-icon-hidrogeologia-width: 125px;
$-figure-icon-hidrogeologia-height: 158px;
$-figure-icon-hidrogeologia-total-width: 375px;
$-figure-icon-hidrogeologia-total-height: 182px;
$-figure-icon-hidrogeologia-image: '../images/sprite.png';
$-figure-icon-hidrogeologia: (125px, 0px, -125px, 0px, 125px, 158px, 375px, 182px, '../images/sprite.png', 'FigureIcon--hidrogeologia', );
$-figure-icon-investigacao-geotecnica-name: 'FigureIcon--investigacao-geotecnica';
$-figure-icon-investigacao-geotecnica-x: 250px;
$-figure-icon-investigacao-geotecnica-y: 0px;
$-figure-icon-investigacao-geotecnica-offset-x: -250px;
$-figure-icon-investigacao-geotecnica-offset-y: 0px;
$-figure-icon-investigacao-geotecnica-width: 125px;
$-figure-icon-investigacao-geotecnica-height: 158px;
$-figure-icon-investigacao-geotecnica-total-width: 375px;
$-figure-icon-investigacao-geotecnica-total-height: 182px;
$-figure-icon-investigacao-geotecnica-image: '../images/sprite.png';
$-figure-icon-investigacao-geotecnica: (250px, 0px, -250px, 0px, 125px, 158px, 375px, 182px, '../images/sprite.png', 'FigureIcon--investigacao-geotecnica', );
$-figure-icon-mail-name: 'FigureIcon--mail';
$-figure-icon-mail-x: 30px;
$-figure-icon-mail-y: 158px;
$-figure-icon-mail-offset-x: -30px;
$-figure-icon-mail-offset-y: -158px;
$-figure-icon-mail-width: 10px;
$-figure-icon-mail-height: 10px;
$-figure-icon-mail-total-width: 375px;
$-figure-icon-mail-total-height: 182px;
$-figure-icon-mail-image: '../images/sprite.png';
$-figure-icon-mail: (30px, 158px, -30px, -158px, 10px, 10px, 375px, 182px, '../images/sprite.png', 'FigureIcon--mail', );
$-figure-icon-mais-yellow-name: 'FigureIcon--mais--yellow';
$-figure-icon-mais-yellow-x: 0px;
$-figure-icon-mais-yellow-y: 158px;
$-figure-icon-mais-yellow-offset-x: 0px;
$-figure-icon-mais-yellow-offset-y: -158px;
$-figure-icon-mais-yellow-width: 15px;
$-figure-icon-mais-yellow-height: 14px;
$-figure-icon-mais-yellow-total-width: 375px;
$-figure-icon-mais-yellow-total-height: 182px;
$-figure-icon-mais-yellow-image: '../images/sprite.png';
$-figure-icon-mais-yellow: (0px, 158px, 0px, -158px, 15px, 14px, 375px, 182px, '../images/sprite.png', 'FigureIcon--mais--yellow', );
$-figure-icon-mais-name: 'FigureIcon--mais';
$-figure-icon-mais-x: 15px;
$-figure-icon-mais-y: 158px;
$-figure-icon-mais-offset-x: -15px;
$-figure-icon-mais-offset-y: -158px;
$-figure-icon-mais-width: 15px;
$-figure-icon-mais-height: 14px;
$-figure-icon-mais-total-width: 375px;
$-figure-icon-mais-total-height: 182px;
$-figure-icon-mais-image: '../images/sprite.png';
$-figure-icon-mais: (15px, 158px, -15px, -158px, 15px, 14px, 375px, 182px, '../images/sprite.png', 'FigureIcon--mais', );
$-figure-icon-phone-name: 'FigureIcon--phone';
$-figure-icon-phone-x: 40px;
$-figure-icon-phone-y: 158px;
$-figure-icon-phone-offset-x: -40px;
$-figure-icon-phone-offset-y: -158px;
$-figure-icon-phone-width: 11px;
$-figure-icon-phone-height: 9px;
$-figure-icon-phone-total-width: 375px;
$-figure-icon-phone-total-height: 182px;
$-figure-icon-phone-image: '../images/sprite.png';
$-figure-icon-phone: (40px, 158px, -40px, -158px, 11px, 9px, 375px, 182px, '../images/sprite.png', 'FigureIcon--phone', );
$spritesheet-width: 375px;
$spritesheet-height: 182px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-figure-icon-estudos-ambientais, $-figure-icon-geo, $-figure-icon-hidrogeologia, $-figure-icon-investigacao-geotecnica, $-figure-icon-mail, $-figure-icon-mais-yellow, $-figure-icon-mais, $-figure-icon-phone, );
$spritesheet: (375px, 182px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
